@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

/******************************************************************************/
table {
    display: block; margin: 0; line-height: auto; height: auto; width: 625;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px; font-weight: bold; direction: ltr; text-align: center; vertical-align: middle; white-space:nowrap;
    background-color: transparent; color: #000000;
    border: none; border-width: 0px; border-color: #FFFFFF; border-radius: 0px 0px 0px 0px;
    box-shadow: none
}
table tr {
    display: inline-cell; margin: 0px 1px; line-height: auto; height: auto; width: auto;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px; font-weight: bold; direction: ltr; text-align: center; vertical-align: middle; white-space:nowrap;
    background-color: transparent; color: #000000;
    border: none; border-width: 0px; border-color: #000000; border-radius: 0px 0px 0px 0px;
    box-shadow: none
}
table tr th {
    display: inline-cell; margin: 0px 1px; line-height: auto; height: auto; width: 306px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px; font-weight: bold; direction: ltr; text-align: center; vertical-align: middle; white-space:nowrap;
    background-color: #C25B56; color: #FFFFFF;
    border: none; border-width: 0px; border-color: #000000; border-radius: 0px 0px 0px 0px;
    box-shadow: none
}
table tr td {
    display: inline-cell; margin: 0px 1px; line-height: auto; height: auto; width: 306px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 14px; font-weight: bold; direction: ltr; text-align: center; vertical-align: middle; white-space:nowrap;
    background-color: #BEB9B5; color: #000000;
    border: none; border-width: 0px; border-color: #000000; border-radius: 0px 0px 0px 0px;
    box-shadow: none
}
table tr td:hover { background-color:#96C0CE; color:#000000; }
table tr td.tableImage{width:100px; color:#000000; background-color:transparent;}
table tr td:hover.tableImage{width:100px; color:#000000; background-color:transparent;}
/******************************************************************************/
input[type=text], select, label{
    display: block; margin: 2px 2px; padding: 0px; line-height: 30px; height: 30px; width: 300px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 13px; font-weight: bold; direction: rtl; text-align: right; vertical-align: middle;
    background-color: #FFFFFF; color: #000000;
    border: solid; border-width: 1px; border-color: #CCCCFF; border-radius: 0px 0px 0px 0px;
    box-shadow: none;
}

div.validator {width: 300px; direction:ltr; text-align: left;}
span.validator {background-color:#FFFF00; color:#000000; font-size:12px; font-weight:bold; font-family:"Droid Arabic Naskh", "calibri", "verdana", "sans-serif";}