@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

table.validationTable {
    margin-left: auto;
    margin-right: auto;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px;
    white-space: nowrap;
}

table.validationTable th {
    font-weight: bold;
    text-align: left;
    #background-color: #CC3366;
    background-color: #000066;
    color: #FFFFFF;
}

table.validationTable tr {
    font-weight: bold;
    text-align: left;
    #background-color: #CC00FF;
    background-color: #CCCCFF;
    #color: #FFFFFF;
    color: #000066;
}

table.validationTable tr:hover {
    text-align: left;
    font-weight: bold;
    background-color: #CCFF99;
    #background-color: #98FB98;
    color: #000000;
}

div {
    display: block;
    margin: auto auto;
    text-align: center;
    background-color: #EEEEFF;
    color: #000000;
}

div.window {
    background-color: #EEEEFF;
    color: #000000;
    border-radius: 15px;
}

div.title {
    width: 314px;
}

div.inputs {
    width:310px;
}

div.input {
    width: 310px;
}

div.inputsBorder {
    border: solid;
    border-width: 2px;
    #border-color: #CC00FF;
    border-color: #CCCCFF;
}

div.validator {
    direction: ltr;
    text-align: left;
}

span.validator {
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFF00;
    color: #000000;
}

input[type=text], select {
    display: block;
    height: 30px;
    width: 300px;
    margin: 5px;
    line-height: 30px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    direction: rtl;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    border: solid;
    border-width: 1px;
    border-color: #CCCCFF;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
}

input[type=text]:focus, select:focus {
    border-color: #0000FF;
}

input[type=text]:disabled, select:disabled {
    color: #666666;
    #color: #5C3317;
    #color: #5C4033;
}

label.formTitle {
    display: block;
    height: 30px;
    width: 314px;
    margin: 0px;
    line-height: 30px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    direction: ltr;
    text-align: center;
    #background-color: #CC3366;
    background-color: #000066;
    color: #FFFFFF;
    box-shadow: none;
}

label.title {
    display: block;
    height: 30px;
    width: auto;
    margin-left: 0px;
    line-height: 30px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 14px;
    font-weight: bold;
    direction: ltr;
    text-align: left;
    #background-color: #CC00FF;
    background-color: #CCCCFF;
    #color: #FFFFFF;
    color: #000000;
    box-shadow: none;
}

span.radio {
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 16px;
    font-weight: bold;
}

input[type=button] {
    display: inline-block;
    height: 30px;
    width: 100px;
    margin: 5px;
    line-height: 30px;
    font-family: "Droid Arabic Naskh", "calibri", "verdana", "sans-serif";
    font-size: 24px;
    font-weight: bold;
    #background-color: #CC3366;
    background-color: #000066;
    color: #FFFFFF;
    border: solid;
    border-width: 2px;
    #border-color: #CC3366;
    border-color: #000066;
    border-radius: 15px 5px 15px 5px;
    box-shadow: none;
}

input[type=button]:hover {
    font-size: 24px;
    background-color: #FFFFFF;
    color: #000066;
}