<html>
<head>
    <title>Add Unique Random Numbers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/common/ajax-csrf.js"></script>
    <script src="/static/common/validator.js"></script>
    <script src="/static/common/validatorSettings.js"></script>
    <script src="/static/UniqueRandomNumbers/add.js"></script>
    <LINK REL=StyleSheet HREF="/static/UniqueRandomNumbers/add.css" TYPE="text/css">
</head>
<body>
    <div id="add" class="window">
        <form>
            {% csrf_token %}
            <div class="title"><label class="formTitle">Add unique random numbers</label></div>
            <div class="output"><span id="output" class="output"></span></div>
            <div class="inputs inputsBorder">
                <div class="input">
                    <label class="title">ID</label>
                    <input type="text" id="id" name="id" placeholder="ID" disabled/>
                </div>
                <div class="input">
                    <label class="title">Product</label>
                    <select id="product" name="product"></select>
                </div>
                <div class="input">
                    <label class="title">Internal Or External</label>
                    <input type="radio" id="internalOrExternal" name="internalOrExternal" value="Internal"/>
                    <span class="radio">Internal</span>
                    <input type="radio" id="internalOrExternal" name="internalOrExternal" value="External"/>
                    <span class="radio">External</span>
                </div>
                <div class="input">
                    <label class="title">Unique Random Numbers Count</label>
                    <input type="text" id="uniqueRandomNumbersCount" name="uniqueRandomNumbersCount" placeholder="Unique Random Number Count"/>
                </div>
                <div class="input">
                    <label class="title">Batch Number</label>
                    <input type="text" id="batchNumber" name="batchNumber" placeholder="Batch Number"/>
                </div>
                <div class="input">
                    <label class="title">Date and Time</label>
                    <input type="text" id="dateAndTime" name="dateAndTime" placeholder="Date And Time" disabled/>
                </div>
            </div>
            <div class="input"><input type="button" id="add" value="+ Add"></div>
        </form>
    </div>
    <div id="validation" class="window"></div>
</div>
</body>
</html>