<html>
	<head>
		<title>Add Unique Random Numbers</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/static/common/ajax-csrf.js"></script>
		<script src="/static/common/validator.js"></script>
		<script src="/static/common/validatorSettings.js"></script>
		<script src="add.js"></script>
		<LINK REL=StyleSheet HREF="fixedHeaderTable.css" TYPE="text/css">
	</head>
	<body>
		<div>
			<div class="tableColumns">
				<table>
					<thead>
						<tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Internal Or External</th>
                            <th>Count of unique random numbers</th>
                            <th>Batch number</th>
                            <th>Internal Or External</th>
                        </tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="tableRows">
				<table>
					<thead>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
						<tr><td>A1</td><td>B1</td><td>C1</td></tr>
						<tr><td>A2</td><td>B2</td><td>C2</td></tr>
						<tr><td>A3</td><td>B3</td><td>C3</td></tr>
						<tr><td>A4</td><td>B4</td><td>C4</td></tr>
						<tr><td>A5</td><td>B5</td><td>C5</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>