<html>
	<head>
		<title>Filter</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/static/common/2.1.3.jquery.min.js"></script>
		<script src="/static/common/ajax-csrf.js"></script>
		<script src="/static/common/validator.js"></script>
		<script src="/static/common/validatorSettings.js"></script>
		<script src="/static/common/filters.js"></script>
		<LINK REL=StyleSheet HREF="/static/common/css.css" TYPE="text/css">
	</head>
	<body>
		<div class="filterWidget">
			<hr>
			<div>
				<select id="field" validator="Empty,Any" validatorSignature="201601111631">
					<option value="">Fields</option>
					<option value="id" operators="number" validator="Empty,Dg">ID</option>
					<option value="product" operators="string" validator="Empty,Spcs,EnSmCpArDgSpc">Product</option>
					<option value="internalOrExternal" operators="string" validator="Empty,internalOrExternal">Internal Or External</option>
					<option value="count" operators="number" validator="Empty,Dg">Count</option>
					<option value="batchNumber" operators="number" validator="Empty,Dg">Batch Number</option>
					<option value="dateTime" operators="number" validator="Empty,Month01-12,MonthFormatIsWrong,Day01-31,DayFormatIsWrong,Hour00-23,HourFormatIsWrong,Minute00-59,MinuteFormatIsWrong,YYYY.MM.DD HH:MM">Date And Time</option>
				</select>
			</div>
			<div><select id="operator" validator="Empty,Any" validatorSignature="201601111631"><option value="">Operators</option></select></div>
			<div><input type="text" id="searchValue" value="" placeholder="Search Value" validator="Empty,Any" validatorSignature="201601111631"/></div>
			<input type="button" id="addFilter" value="+ Add filter"></button>
			<hr>
			<div id="filters" class="filters"></div>
			<input type="button" id="runFilters" value="-> Run Filters"></button>
			<hr>
		</div>
	</body>
</html>